body{
	background-color:#696763;/*gray*/
}
.login h1 a{
	background-image:url('../images/logo.png');
	background-size: auto auto;
	width:auto;
}
/*Button*/
.login .button-primary{
	background-color: #6bcbca;
	border:none;
	display: inline-block;
	width:100%;
	margin-top:1em;
	border-radius: 10px;
	padding:.5em;
	font-size:1.5em !important;
}